.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.row{
	margin-right: 0px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

ul.nav > li.active > a {
	padding-bottom: 20px;
}
.askme_question_block {
	border-radius: 5px;
	padding-top: 15px;
	margin-top: 35px;
	margin-bottom: 35px;
	background-color: #3e3e3e
}

.askme__question-block_user-data {
	padding-left: 15px;
	padding-bottom: 15px;
	margin-left: 30px;
}

hr{
	border-color: #ababab;
}

.askme_section-title{
	margin: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.askme_section-title > span{
	border-color: #111;
	border-radius: 7px;
	background-color: #444;
}
.askme_section-title > span.active{
	border-color: #111;
	border-radius: 7px;
	background-color: #1a1a1a;
}

.askme__right-block{
    margin-top: 35px;
   
}
.askme__right-block_popular-tags{
	border-radius: 5px;
	border: 3px;
	border-color: #3e3e3e;
	background-color: #3e3e3e;
	padding: 15px;
	margin-right: 40px;
	margin-bottom: 15px;

}
.askme__right-block_best-members{
	border-radius: 5px;
	border: 3px;
	border-color: #3e3e3e;
	background-color: #3e3e3e;
	padding: 15px;
	margin-right: 40px;
	margin-bottom: 15px;
}




.askme__footer{
	margin-top: 30px;	
	margin-bottom: 25px;
	text-align: center;
	background-color: 

}

body {
	background-color: #2a2a2a;
	color: #e6e6e6;
}

a{
	color: #fff;
}
a:hover{
	color:#4baaff;
}

.askme__question_answer-block{
	padding-top: 15px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 20px;
	background-color: #717171;
	border-radius: 5px;	
}
.askme__answer{
	margin-left: 35px;
}
.askme__answer-button{
	margin-top: 20px;
}

.askme_ask-question-form{
	margin-top: 15px;
}

.askme__login-form{
	margin-bottom: 10px;
}
.askme__login-error{
	color: red;
}



.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #fff;
  text-decoration: none;
  background-color: #505050;
  border: 1px solid #545454;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #eee;
  background-color: #aaa;
  border-color: #545454;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #121212;
  border-color: #545454;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ddd;
  cursor: not-allowed;
  background-color: #868686;
  border-color: #545454;
}

.askme__pagination{
	margin-left: 100px;
}

.btn-dark {
  color: #fff;
  background-color: #535353;
  border-color: #2a2a2a;
}
.btn-dark:hover{
  color: #ddd;
  background-color: #1274BD;
  border-color: #0E67AA;
}

.btn-dark:active{
  color: #ddd;
  background-color: #104E7D;
  border-color: #0E67AA;
}

.form-control{
	color: #fff;
	background-color: #545454;
	border-color: #424242;
}

.dropdown-menu > li > a,
.dropdown-menu {
	color: #fff;
	background-color: #545454;
	border-color: #424242;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #eee;
	background-color: #383838;
}

.btn-success{
	background-color: #646464;
	border-color: #545454;
}
.btn-danger{
	background-color: #9f9f9f;
	border-color: #7f7f7f;
}