{% load static %}
<div id="answer_{{ answer.id }}" class="askme__question_answer-block"> <!-- answer block -->
  <div class="row">
    <div class="col-md-2 askme__question-block_user-data">
      <img src="/{{ answer.user.profile.avatar.url }}" class="img-circle askmee__user-avatar" width="90" height="90">
      <p><a href="{% url 'profile'  answer.user %}"><b>{{ answer.user }}</b></a></p>

      {% if answer.user.profile.rating >= 0 %}
        <p>Rating: <span class="likeu{{answer.user.id}} like"><b> +{{ answer.user.profile.rating }}</b></span></p>
      {% else %}
        <p>Rating: <span class="dislikeu{{answer.user.id}} dislike"><b> {{ answer.user.profile.rating }}</b></span></p>
      {% endif %}

      {% if answer.user != request.user %}
      <div class="btn-group-vertical">
        <button type="button" id="al{{ answer.id }}" class="btn btn-success btn-md alikebutton

          {% for like in request.user.profile.answerlikes.all %}
              {% if answer.id == like.answer.id and like.is_liked %}btn-liked{% endif %}
          {% endfor %}
        " dataid="{{ answer.id }}">
          <span class="glyphicon glyphicon-triangle-top"></span>         
        </button>
        <button type="button" id="ad{{ answer.id }}" class="btn btn-danger btn-md adislikebutton

            {% for like in request.user.profile.answerlikes.all %}
              {% if answer.id == like.answer.id and like.is_disliked %}btn-disliked{% endif %}
            {% endfor %}
        " dataid="{{ answer.id }}">
          <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
      </div>
      {% endif %}

      <div class="check{{ answer.id }} askmee__tickblock">      

      {% if answer.is_correct %}
      
        <img src="{% static 'images/tick.png' %}" width="30">
      
      {% endif %} 
      </div>
        {% if question.user == request.user %}
          <div class="checkbox">
            <label><input class="anscheck" type="checkbox" ansid="{{ answer.id }}" qid="{{ question.id }}" value="" 
              {% if answer.is_correct %}
               checked
              {%endif%}>
              Correct!
            </label>
          </div> 
        {% endif %}
      
    </div>
    <div class="col-md-9">
      {% if  answer.rating >= 0 %}
      
        <div class="askme__question-rate alike{{ answer.id }} like"><b> +{{ answer.rating }}</b></div>
        <p></p>
    {% else %}      
        <div class="askme__question-rate adislike{{ answer.id }} dislike"><b> {{ answer.rating }}</b></div>
        <p></p>
      
    {% endif %} 
      <p>{{ answer.text }}</p>
    </div>
    <div class="col-md-10 col-md-offset-1 askmee__bottomblock">
      <span class="pull-right">{{ answer.created }}</span>     
    </div>
  </div>
</div> <!-- /.answer block --> 