{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
  <h2 class="askme_ask-question-section-title"> New Question </h2>
{% endblock %}

  {% block pageContent %}   
<form class="form-horizontal" method="post">
  {% csrf_token %}
  <div class="askme_ask-question-form"> <!-- ask question block-->

    <div class="form-group">
      <label class="col-lg-1 control-label">Title</label>
      <div class = "col-sm-11">      
        {{ form.title }}
        {% if form.title.errors %} 
          {% for e in form.title.errors %}
          <p></p>
          <div class="askme__login-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ e }}
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-1 control-label">Text</label>
      <div class = "col-sm-11">      
        {{ form.text }}
        {% if form.text.errors %} 
          {% for e in form.text.errors %}
          <p></p>
          <div class="askme__login-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ e }}
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-1 control-label">Category</label>
      <div class = "col-sm-11">      
        {{ form.category }}
        {% if form.category.errors %} 
          {% for e in form.category.errors %}
          <p></p>
          <div class="askme__login-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ e }}
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      <label for="tag" class="col-sm-1 control-label">Tags</label>
      <div class="col-sm-4">
        {{ form.tag1 }}
        {% if form.tag1.errors %} 
          {% for e in form.tag1.errors %}
          <p></p>
          <div class="askme__login-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ e }}
          </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-sm-4">
        {{ form.tag2 }}
        {% if form.tag2.errors %} 
          {% for e in form.tag2.errors %}
          <p></p>
          <div class="askme__login-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ e }}
          </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-sm-3">
        {{ form.tag3 }}
        {% if form.tag3.errors %} 
          {% for e in form.tag3.errors %}
          <p></p>
          <div class="askme__login-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ e }}
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>    
 
    <div class="form-group">
    <div class="col-sm-12 col-sm-offset-1">
      <button type="submit" class="btn btn-dark">Ask</button>      
    </div>
  </div>  
  </div> <!-- /ask question block--> 
</form>      

{% endblock %}
{% block paginator %}
{% endblock %}




