{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'images/icon.png' %}">

  <title>Ask Me</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">



  <!-- Custom styles for this template -->
  <link href="{% static 'css/askme.css' %}" rel="stylesheet">

</head>

<body>
  {% block navbar%}
  <nav class="navbar navbar-inverse" role="navigation">    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"data-target="#navbar" aria-expanded="false" aria-controls="navbar">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index'%}">
        <img src="{% static 'images/logo.png' %}" alt="Ask me. Logo." width="30">
      </a>      
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% block navbar_active_buttons %}
        <li><a href="{% url 'index'%}">Номе <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'hot_questions'%}">Popular </a></li>
        {% endblock %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Topics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'tag'  'Web'%}">Web </a></li>
            <li><a href="{% url 'tag'  'JavaScript'%}">JavaScript </a></li>
            <li><a href="{% url 'tag'  'Python'%}">Python </a></li>
            <li><a href="{% url 'hot_questions' %}">Other </a></li>
          </ul>
        </li>
      </ul>


      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter your question">
        </div>
        <button type="submit" class="btn btn-dark"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    {% if request.user.is_authenticated %}
      {% block navbarUserLogged %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="/{{ request.user.profile.avatar.url }}" width="30" class="img-circle" alt="avatar">
            {{request.user}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profile'  request.user  %}">My questions</a></li>
            <li><a href="{% url 'developing'%}">My achievements</a></li>
            <hr>
            <li><a href="{% url 'profile_edit'%}">Settings <span class="glyphicon glyphicon-cog"></span></a></li>
          </ul>
        </li>        
        <li><a href="{% url 'ask'%}">New question</a></li>
        <li><a href="{% url 'logout'%}?continue={{ request.path }}"><span class="glyphicon glyphicon-log-out"></span> Log Out </a></li>
      </ul>
      {% endblock %}
    {% else %}
      {% block navbarUserUnlogged %}
      <ul class="nav navbar-nav navbar-right">

        <li><a href="{% url 'signup'%}">Register</a></li>
        <li><a href="{% url 'login'%}?continue={{ request.path }}"><span class="glyphicon glyphicon-log-in"></span> Log in </a></li>
      </ul>
      {% endblock %}
    {% endif %}

    </div><!-- /.navbar-collapse -->
  </nav>
  {% endblock %}

  {% block pagetitle %}
  {% endblock %}


  {% block page %}
  <div class="row">
    <div class="col-sm-7 col-sm-offset-1"> 

      {% block pageContent %}
      {% endblock %}

      {% block paginator %}
        {% include 'paginator_block.html'%}
      {% endblock %}      
    </div>

    {%block sidebar%}
    <div class="col-sm-3  col-sm-offset-1 askme__right-block"> <!--right block-->
      {% block populartags %}
      <div class="askme__right-block_popular-tags">
        <h3>Popular tags</h3>
        {% for tag in popular_tags %}
          <a href="{% url 'tag' tag %}" id="Number{{ tag.style_number }}">{{ tag }}</a>
        {% endfor %}
        <a href="{% url 'tag_list' %}">Others</a>       
      </div>
      {% endblock %}

      {% block bestmaembers %}
      <div class="askme__right-block_best-members">
        <h3>Best Members</h3>
        <ul>
          <li><a href="{% url 'profile' 'User' %}">User</a></li>
          <li><a href="{% url 'profile' 'admin' %}">admin</a></li>
          <li><a href="{% url 'profile' 'RandomUser' %}">RandomUser</a></li> 
          <li><a href="{% url 'profile' 'Jarvis' %}">Jarvis</a></li>         
        </ul>        
      </div>
      {% endblock %}
    </div><!--/.right block-->
    {% endblock %}    
</div>
{% endblock %}



{% block footer %}
<div class="askme__footer footer-wrapper">
  
    <div class="footer-container">
      <a href="#" class="top">
        <img src="{% static 'images/arrow-up.png' %}" alt="arrow-up" width="26" height="15">       
      </a>
    </div>
  <p>
    Site was built in 2016 by Vladislav.
    All rights reserved (c)      
  </p>    
</div>
{% endblock %}
<!-- jQuery library -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Latest compiled JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- My JavaScript -->
<script src="{% static 'js/askme.js' %}"></script>


<script type="text/javascript">  
  $('.likebutton').click(function () {    
    $.ajax({
        url: "{% url 'question_like' %}",
        type: "POST",
        data: {'id': $(this).attr('dataid'), 'like' : '1','csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(response) {
          $(response.qstyleid).text(response.qrating);
          $(response.qstyleid).removeClass().addClass(response.qstyle);
          $(response.ustyleid).text(response.urating);
          $(response.ustyleid).removeClass().addClass(response.ustyle);
          $(response.likebuttonid).removeClass().addClass(response.likebuttonstyle);
          $(response.dislikebuttonid).removeClass().addClass(response.dislikebuttonstyle);
            
            }
        });
  });

  $('.dislikebutton').click(function () {    
    $.ajax({
        url: "{% url 'question_like' %}",
        type: "POST",
        data: {'id': $(this).attr('dataid'), 'like' : '0', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(response) {
          $(response.qstyleid).text(response.qrating);
          $(response.qstyleid).removeClass().addClass(response.qstyle);
          $(response.ustyleid).text(response.urating);
          $(response.ustyleid).removeClass().addClass(response.ustyle);
          $(response.likebuttonid).removeClass().addClass(response.likebuttonstyle);
          $(response.dislikebuttonid).removeClass().addClass(response.dislikebuttonstyle);
            
            }
        });
  });

  $('.anscheck').click(function() {
    $.ajax({
      url: "{% url 'answer_check' %}",
      type: "POST",
      data: {'ansid' : $(this).attr('ansid'), 'qid' : $(this).attr('qid'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success: function(response) {
        $(".check" + response.ansid).html('<img src="{% static 'images/tick.png' %}" class="anscorrect" ansid='
         +  response.ansid + ' qid=' + response.qid +' width="30">')
        
      }
    });

  });

  $('.anscorrect').click(function() {
    $.ajax({
      url: "{% url 'answer_check' %}",
      type: "POST",
      data: {'ansid' : $(this).attr('ansid'), 'qid' : $(this).attr('qid'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success: function(response) {
        $(".check" + response.ansid).html('<div class="checkbox"><label><input class="anscheck" type="checkbox" ansid=' +
          response.ansid + ' qid=' + response.qid + ' value="">Correct!</label></div> ')
      }
    });

  });
  
  </script>
</body>
</html>