{% extends "index.html" %}
{% load static %}

{% block navbar_active_buttons %}
  <li><a href="{% url 'index' %}">Номе <span class="sr-only">(current)</span></a></li>
  <li class="active"><a href="{% url 'hot_questions' %}">Popular </a></li>
{% endblock %}

{% block pagetitle %}
<span >
  <h3 class="askme_section-title">
    <span> <a href="{% url 'index' %}"> New Questions </a></span>
    <span class="active"><a href="{% url 'hot_questions' %}"> Hot Questions </a></span>
  </h3>
</span>
{% endblock %}

