{% extends "index.html" %}
{% load static %}

{% block pagetitle %}
<span >
  <h3 class="askme_section-title">
    <span> <a href="/"> New Questions </a></span>
    <span class="active"><a href="/hot/"> Hot Questions </a></span>
  </h3>
</span>
{% endblock %}

{% block paginator %}  
    <div>
     <ul class="pagination askme__pagination">
      {% if questions.has_previous %}
        <li><a href="/hot/1/"><span class="glyphicon glyphicon-fast-backward"></a></li>
        <li><a href="/hot/{{ questions.previous_page_number }}/"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
      {% endif %}

      {% if questions.paginator.show_gap_prev %}
          <li class="disabled"><a>...</a></li> 
        {% endif %}
        {%if  questions.paginator.show_prev_prev %}
          <li><a href="/hot/{{ questions.paginator.prev_prev }}/">{{ questions.paginator.prev_prev }}</a></li>
        {% endif %} 
        {% if questions.has_previous %}
          <li><a href="/hot/{{ questions.previous_page_number }}/">{{ questions.previous_page_number }}</a></li>
        {% endif %}                  
        
        <li class="active"><a> {{ questions.number }}</a></li>        
         
        {% if questions.has_next %}
          <li><a href="/hot/{{ questions.next_page_number }}/">{{ questions.next_page_number }}</a></li>
        {% endif %}
        {%if  questions.paginator.show_next_next %}
          <li><a href="/hot/{{ questions.paginator.next_next }}/">{{ questions.paginator.next_next }}</a></li>
        {% endif %}
        {% if questions.paginator.show_gap_next %}
          <li class="disabled"><a>...</a></li> 
        {% endif %}     
      
      {% if questions.has_next %}        
        <li><a href="/hot/{{ questions.next_page_number }}/"><span class="glyphicon glyphicon-chevron-right"></a></li>
        <li><a href="/hot/{{ questions.paginator.num_pages }}/"><span class="glyphicon glyphicon-fast-forward"></a></li>

      {% endif %}

     </ul>
    </div>
{% endblock %}