{% extends "base.html" %}



{% block pagetitle %}
<span >
  <h3 class="askme_section-title">
    <span class="active"> New Questions </span>
    <span><a href="#"> Hot Questions </a></span>
  </h3>
</span>
{% endblock %}


{% block pagecontent %}  
{% for question in questions %}   
<div class="askme_question_block"> <!-- question block-->
  <div class="row">
    <div class="col-md-2 askme__question-block_user-data">
      <img src="../static/images/avatar.jpeg" class="img-circle" width="110">
      <p><b>{{ question.user_name }}</b></p>
      <p>User rating: {{ question.user_rate }}</p>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="badge">{{ question.question_rate }}</span>
        </button>
        <button type="button" class="btn btn-danger btn-md">
          <span class="glyphicon glyphicon-minus"></span>
          <span class="badge">2</span>
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <p><a href="/question"><strong> {{ question.title }}</strong></a></p>
      <p>{{ question.text }}</p>
      <p>
        <a href="#" class="pull-right">September 12, 2016</a>
      </p>
      <p>
        <a href="/question">Answers <span class="badge">5</span></a>
        Tags: 
        <a href="#">#tag1  </a>
        <a href="#">#tag2  </a>
        <a href="#">#tag3  </a>
      </p>        
    </div>
  </div>
</div> <!-- /.question block-->
{% endfor %}
{% block paginator %}  
    <div>
     <ul class="pagination askme__pagination">
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li class="disabled"><a href="#">...</a></li>
      <li><a href="#">Last</a></li>
     </ul>
    </div>
  {% endblock %}
{% endblock %}






