{% extends "base.html" %}
{% load static %}

{% block navbar_active_buttons %}
  <li class="active"><a href="{% url 'index' %}">Номе <span class="sr-only">(current)</span></a></li>
  <li><a href="{% url 'hot_questions'%}">Popular </a></li>
{% endblock %}

{% block pagetitle %}
<span >
  <h3 class="askme_section-title">
    <span class="active"><a href="{% url 'index' %}"> New Questions </a></span>
    <span><a href="{% url 'hot_questions'%}"> Hot Questions </a></span>
  </h3>
</span>
{% endblock %}


{% block pageContent %}  
  {% for question in data %}   
    {% include 'question_block.html' %}
  {% endfor %}
  
{% endblock %}






