{% extends "base.html" %}
{% load static %}

{% block navbar_active_buttons %}
  <li class="active"><a href="{% url 'index' %}">Номе <span class="sr-only">(current)</span></a></li>
  <li><a href="{% url 'hot_questions'%}">Popular </a></li>
{% endblock %}

{% block pagetitle %}
<span >
  <h3 class="askme_section-title">
    <span class="active"><a href="{% url 'index' %}"> New Questions </a></span>
    <span><a href="{% url 'hot_questions'%}"> Hot Questions </a></span>
  </h3>
</span>
{% endblock %}


{% block pageContent %}  
{% for question in data %}   
<div class="askme_question_block"> <!-- question block-->
  <div class="row">
    <div class="col-md-2 askme__question-block_user-data">
      <img src="/{{ question.user.profile.avatar.url }}" class="img-circle askmee__user-avatar" width="110" height="110">
      <p><a href="{% url 'profile'  question.user  %}"><b>{{ question.user }}</b></a></p>

      {% if question.user.profile.rating >= 0 %}
        <p>Rating: <span class="like"><b> +{{ question.user.profile.rating }}</b></span></p>
      {% else %}
        <p>Rating: <span class="dislike"><b> {{ question.user.profile.rating }}</b></span></p>
      {% endif %}

      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-chevron-up"></span>          
        </button>
        <button type="button" class="btn btn-danger btn-md">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
      </div>
    </div>
    <div class="col-md-9">
    {% if question.rating >= 0 %}
      <p>
        <span class="askme__question-rate like pull-right"><b> +{{ question.rating }}</b></span>
      </p>   
    {% else %}
      <p>
        <span class="askme__question-rate dislike pull-right"><b> {{ question.rating }}</b></span>
      </p> 
    {% endif %}       
      <p>
        <a href="{% url 'question' question.id %}"><strong> {{ question.title }}</strong></a>
      </p>         
      <p>{{ question.text }}</p>
    </div>  
    <div class="col-md-9 col-md-offset-2 askmee__bottomblock">
      <p>
        <a href="{% url 'developing' %}" class="pull-right">{{ question.created }}</a>      
        <a href="{% url 'question' question.id %}">Answers <span class="badge">{{ question.answer_set.count }}</span></a>
        Tags: 
        {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag %}">#{{ tag }}</a> 
        {% endfor %}
      </p>
    </div>       
   </div>
  </div> <!-- /.question block-->
  {% endfor %}
  
{% endblock %}






