{% extends "base.html" %}
{% load static %}

{% block pageContent %}
{% if profile  != 0 %}
<div class="row askme_question_block">
	<div class="col-md-2 askme__question-block_user-data">
		<img src="/{{ profile.avatar.url }}" class="img-circle askmee__user-avatar" width="110" height="110">
		<p><b>{{ profile.user }}</b></p>

		{% if profile.rating >= 0 %}
		<p>Rating: <span class="likeu{{ profile.user.id }} like"><b> +{{ profile.rating }}</b></span></p>
		{% else %}
		<p>Rating: <span class="dislikeu{{ profile.user.id }} dislike"><b> {{ profile.rating }}</b></span></p>
		{% endif %}

	</div>
	<div class="col-md-9">             
		<p>{{ profile.information }}</p>  
    <p>Date joined to ask.me: {{ profile.user.date_joined }}</p>
    <p>Asked questions: {{ profile.questions_count }}</p> 
    <p>Added answers: {{ answers_count }}</p>        
	</div>
</div>
{% endif %}


<legend></legend>

  {% for question in data %}   
    {% include 'question_block.html' %}
  {% endfor %}
{% endblock %}
