{% extends "base.html" %}
{% load static %}

{% block pageContent %}

<div class="row askme_question_block">
	<div class="col-md-2 askme__question-block_user-data">
		<img src="{% static 'images/avatar.jpeg' %}" class="img-circle" width="110">
		<p><b>{{ user.name }}</b></p>

		{% if user.rating >= 0 %}
		<p>Rating: <span class="like"><b> +{{ user.rating }}</b></span></p>
		{% else %}
		<p>Rating: <span class="dislike"><b> {{ user.rating }}</b></span></p>
		{% endif %}

	</div>
	<div class="col-md-9">             
		<p>{{ user.info }}</p>           
	</div>
</div>


<legend></legend>

{% for question in questions %}   
<div class="askme_question_block"> <!-- question block-->
  <div class="row">
    <div class="col-md-2 askme__question-block_user-data">
      <img src="{% static 'images/avatar.jpeg' %}" class="img-circle" width="110">
      <p><b>{{ user.name }}</b></p>

      {% if user.rating >= 0 %}
        <p>Rating: <span class="like"><b> +{{ user.rating }}</b></span></p>
      {% else %}
        <p>Rating: <span class="dislike"><b> {{ user.rating }}</b></span></p>
      {% endif %}

      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-chevron-up"></span>          
        </button>
        <button type="button" class="btn btn-danger btn-md">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
      </div>
    </div>
    <div class="col-md-9">
    {% if question.question_rating >= 0 %}
      <p>
        <span class="askme__question-rate like pull-right"><b> +{{ question.question_rating }}</b></span>
      </p>   
    {% else %}
      <p>
        <span class="askme__question-rate dislike pull-right"><b> {{ question.question_rating }}</b></span>
      </p> 
    {% endif %}       
      <p>
        <a href="/question/id{{ question.id }}/"><strong> {{ question.title }}</strong></a>
      </p>         
      <p>{{ question.text }}</p>
      <p>
        <a href="/developing/" class="pull-right">September 12, 2016</a>
      </p>
      <p>
        <a href="/question/id{{ question.id }}/">Answers <span class="badge">5</span></a>
        Tags: 
        {% for tag in question.tags %}
        <a href="/tag/{{ tag.tag }}/">#{{ tag.tag }}</a> 
        {% endfor %}
      </p>        
    </div>
  </div>
</div> <!-- /.question block-->
{% endfor %}
{% block paginator %}  
    <div>
     <ul class="pagination askme__pagination">
      {% if questions.has_previous %}
        <li><a href="/profile/{{ user.name }}/1/"><span class="glyphicon glyphicon-fast-backward"></a></li>
        <li><a href="/profile/{{ user.name }}/{{ questions.previous_page_number }}/"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
      {% endif %}

      {% for page_num in questions.paginator.page_range %}
          {% if page_num == questions.number %}
            <li class="active"><a href="?/{{page_num}}/"> {{ page_num }}</a></li>
          {% else %}
            <li><a href="/profile/{{ user.name }}/{{page_num}}/"> {{ page_num }}</a></li>
          {% endif %}
      {% endfor %}      
      
      {% if questions.has_next %}
        <li class="disabled"><a>...</a></li>
        <li><a href="/profile/{{ user.name }}/{{ questions.next_page_number }}/"><span class="glyphicon glyphicon-chevron-right"></a></li>
        <li><a href="/profile/{{ user.name }}/{{ questions.paginator.num_pages }}/"><span class="glyphicon glyphicon-fast-forward"></a></li>
      {% endif %}

     </ul>
    </div>
  {% endblock %}
{% endblock %}
