{% extends "base.html" %}
{% load static %}


{% block pageContent %}    
  {% include 'question_block.html' %}

  {% for answer in data %}
    <hr></hr>
    {% include 'answer_block.html' %}
  {% endfor %}   

 
  {%if request.user.is_authenticated %}
    <hr></hr>
    <div class="askme__answer">      
      <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="form-group">          
            {{ form.text }}          
        </div>
        <div class="form-group">          
            <button type="submit" class="btn btn-dark">Answer</button>
        </div>        
      </form>
    </div>
  {% endif %}  
{% endblock %}





