{% extends "base.html" %}


{% block pageContent %}    
<div class="askme_question_block"> <!-- question block-->
  <div class="row">
    <div class="col-md-2 askme__question-block_user-data">
      <img src="../static/images/avatar.jpeg" class="img-circle" width="110">
      <p><b>{{ question.user_name }}</b></p>
      <p>User rating: {{ question.user_rate }}</p>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="badge">{{ question.question_rate }}</span>
        </button>
        <button type="button" class="btn btn-danger btn-md">
          <span class="glyphicon glyphicon-minus"></span>
          <span class="badge">2</span>
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <p><a href="/question"><strong> {{ question.title }}</strong></a></p>
      <p>{{ question.text }}</p>
      <p>
        <a href="/developing" class="pull-right">September 12, 2016</a>
      </p>
      <p>
        <a href="/question">Answers <span class="badge">5</span></a>
        Tags: 
        <a href="/developing">#tag1  </a>
        <a href="/developing">#tag2  </a>
        <a href="/developing">#tag3  </a>
      </p>        
    </div>
  </div>
</div> <!-- /.question block-->

{% for answer in answers %}
<hr></hr>

<div class="askme__question_answer-block"> <!-- answer block -->
  <div class="row">
    <div class="col-md-2 askme__question-block_user-data">
      <img src="../static/images/avatar2.png" class="img-circle" width="110">
      <p><b>{{ answer.user_name }}</b></p>
      <p>User rating: {{ answer.user_rate }}</p>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="badge">{{ answer.answer_rate }}</span>
        </button>
        <button type="button" class="btn btn-danger btn-md">
          <span class="glyphicon glyphicon-minus"></span>
          <span class="badge">7</span>
        </button>
      </div>
    </div>
    <div class="col-md-9">
      <p>{{ answer.text }}</p>
      <p><a href="#" class="pull-right">October 12, 2016</a></p>   
      <div class="checkbox">
        <label><input type="checkbox" value="">Correct!</label>
      </div> 
    </div>
  </div>
</div> <!-- /.answer block --> 
{% endfor %}   

<hr></hr>
<div class="askme__answer">
  <textarea class="form-control" rows="5" placeholder="Enter your answer here" ></textarea>
  <button type="button" class="btn btn-dark askme__answer-button">Answer</button>
</div>
{% block paginator %}  
    <div>
     <ul class="pagination askme__pagination">
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li class="disabled"><a href="#">...</a></li>
      <li><a href="#">Last</a></li>
     </ul>
    </div>
  {% endblock %}
{% endblock %}





