<div class="askme_question_block"> <!-- question block-->
  <div class="row">
    <div class="col-md-2 askme__question-block_user-data">
      <img src="/{{ question.user.profile.avatar.url }}" class="img-circle askmee__user-avatar" width="110" height="110">
      <p><a href="{% url 'profile'  question.user  %}"><b>{{ question.user }}</b></a></p>  

      {% if question.user.profile.rating >= 0 %}
        <p>Rating: <span class="likeu{{question.user.id}} like"><b> +{{ question.user.profile.rating }}</b></span></p>
      {% else %}
        <p>Rating: <span class="dislikeu{{question.user.id}} dislike"><b> {{ question.user.profile.rating }}</b></span></p>
      {% endif %}

      {% if question.user != request.user %}
      <div class="btn-group-vertical">
        
            <button type="button" id="l{{ question.id }}" class="btn btn-success btn-md likebutton

            {% for like in request.user.profile.questionlikes.all %}
              {% if question.id == like.question.id and like.is_liked %}btn-liked{% endif %}
            {% endfor %}

             " dataid="{{ question.id }}"> 
              <span class="glyphicon glyphicon-triangle-top"></span>          
            </button>

          
        <button type="button" id="d{{ question.id }}" class="btn btn-danger btn-md dislikebutton

          {% for like in request.user.profile.questionlikes.all %}
              {% if question.id == like.question.id and like.is_disliked %}btn-disliked{% endif %}
          {% endfor %}

          " dataid="{{ question.id }}">
          <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
      </div>
      {% endif %}
      
       
      
    
    
    {% if question.user == request.user %}
    <div>
      <p></p>
      <a href="{% url 'edit_question'  question.id  %}">
        <button type="button" class="btn btn-success btn-md">
          Edit <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </a>  
    </div>
    {% endif %}
    </div>
    
    <div class="col-md-9">
    {% if question.rating >= 0 %}
      <p>
        <span class="askme__question-rate like{{question.id}} like pull-right"> +{{ question.rating }}</span>
      </p>   
    {% else %}
      <p>
        <span class="askme__question-rate dislike{{question.id}} dislike pull-right"> {{ question.rating }}</span>
      </p> 
    {% endif %}       
      <p>
        <a href="{% url 'question' question.id %}"><strong> {{ question.title }}</strong></a>
      </p>          
      <p>{{ question.text }}</p>
        <div>
          Category: <a href="{% url 'developing'%}">{{ question.category.title }}</a>
        </div>
      </div>  
    <div class="col-md-9 col-md-offset-2 askmee__bottomblock">
      <p>
        <a href="{% url 'developing'%}" class="pull-right">{{ question.created }}</a>      
        <a href="{% url 'question' question.id %}">Answers <span class="badge">{{ question.answer_set.count }}</span></a>
        {% if question.tags.all %}
        Tags: 
        {% endif %}
        {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag %}"><span class="badge">#{{ tag }}</span></a> 
        {% endfor %}
      </p>
    </div>       
   </div>
  </div> <!-- /.question block-->
  
