.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.row{
	margin-right: 0px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

ul.nav > li.active > a {
	padding-bottom: 20px;
}
.askme_question_block {
	border-radius: 5px;
	padding-top: 15px;
	margin: 35px;
	background-color: #ded
}

.askme__question-block_user-data {
	padding-left: 15px;
	padding-bottom: 15px;
	margin-left: 30px;
}

.askme_section-title{
	margin: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.askme__right-block{
    margin-top: 35px;
   
}
.askme__right-block_popular-tags{
	border-radius: 5px;
	border: 3px;
	border-color: #81f681;
	background-color: #ded;
	padding: 15px;
	margin-right: 40px;
	margin-bottom: 15px;

}
.askme__right-block_best-members{
	border-radius: 5px;
	border: 3px;
	border-color: #81f681;
	background-color: #ded;
	padding: 15px;
	margin-right: 40px;
	margin-bottom: 15px;
}

.askme__pagination{
	margin-left: 100px;
}

.askme__footer{
	margin-top: 30px;	
	margin-bottom: 25px;
	text-align: center;

}

body {
	background-color: #eee;
}